<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>
 
  <nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a><hr/>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
<!--   <app-create-customer></app-create-customer>
  <app-customer-details></app-customer-details>
  <app-customer-list></app-customer-list> -->
  <router-outlet></router-outlet>
  <app-employees></app-employees>
</div>